#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
app/.env
app/.vagrant
app/Vagrantfile

#-------------------------
# Temporary Files
#-------------------------
app/writable/cache/*
!app/writable/cache/index.html

app/writable/logs/*
!app/writable/logs/index.html

app/writable/session/*
!app/writable/session/index.html

app/writable/uploads/*
!app/writable/uploads/index.html

app/writable/debugbar/*

app/php_errors.log

#-------------------------
# User Guide Temp Files
#-------------------------
app/user_guide_src/build/*
app/user_guide_src/cilexer/build/*
app/user_guide_src/cilexer/dist/*
app/user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Test Files
#-------------------------
app/tests/coverage*

# Don't save phpunit under version control.
app/phpunit

#-------------------------
# Composer
#-------------------------
app/vendor/

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
app/_modules/*

# phpenv local config
app/.php-version

# Visual Studio Code
.vscode/

app/results/
app//phpunit*.xml
/.phpunit.*.cache

.docker/db/*